<a href="https://colab.research.google.com/github/iamjahirulislam/AI-Lab/blob/main/AI_theory_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Variable**

In [2]:
n=50
b=4.6

In [3]:
type(n)

int

#**Python collection types**

In [5]:
#List
myList = [1,5,67,8,"sdfgd"]
print(myList)

[1, 5, 67, 8, 'sdfgd']

In [9]:
#Dictionary
myDictionary = {"Rahim" : 200, "Hasan" : 500, "Jahirul" : "800"}
print(myDictionary)

{'Rahim': 200, 'Hasan': 500, 'Jahirul': '800'}

In [11]:
print(myDictionary["Jahirul"])

800

In [15]:
name ="Jahirul"
tk = 1000
print("My name is %s and I have %s tk"%(name,tk))

My name is Jahirul and I have 1000 tk

Conditional

In [17]:
x = 60
if x == 10:
  print("We got 10")
elif x>10 and x<50:
  print("We got more than 10")
else:
  print("We got less than 10")

We got less than 10

#**Loop**

In [18]:
for i in myList:
  print(i)

1
5
67
8
sdfgd

While Loop

In [25]:
n=1
while n<=10:
  print(n)
  n+= 1

1
2
3
4
5
6
7
8
9
10

Function

In [27]:
def method():
  print("This is a method")

In [28]:
method()

This is a method

In [29]:
#printing in another formate
str="Bangladesh"
area= 147570
print("I Live in",str,"its area is",area)

I Live in Bangladesh its area is 147570

**List**

In [32]:
myList=[1,34,56,7,8,9]
myList.pop()
print(myList)
myList.remove(8)
print(myList)

[1, 34, 56, 7, 8]
[1, 34, 56, 7]

In [ ]:
def print_Square_Value(numbers):
  for i in numbers: